@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/Background.png);
    overflow-x: hidden;
}
.header {
    background-image: url(../images/bgheaderpng.png);
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-size: cover;
    width: 100vw;
    height: 90px;
    box-shadow: 0px 5px 1px 0px rgba(53, 53, 53, 0.3);
}
.header__container {
    display: flex;
    width: 100vw;

}
.header__logo {
    background-color: rgb(242, 108, 79);
    font-size: 24pt;
    width: 20%;
    text-align: center;
    padding: 5px 0 5px 0;
}
.header__logo::after {
    content: "+";
    font-size: 21pt;
    position: absolute;
    top:-6px;
    color: rgba(255, 255, 255, 0.5);
}
.header__menu {
    display: flex;
    align-items: center;
    font-size: 10pt;
    font-weight: bold;
    background-image: url(../images/bgmenu.png);
    width: 80%;
    
}
.header__menu-link {
    text-decoration: none;
    color:#fff;
    margin: 0 24px 0 24px;
}

.header__menu-link:hover {
    border-bottom: 2px solid #fff;
}
.social-profiles {
    display: flex;
    flex-direction: column;
}
.social-profiles__contaner-item{
    position: relative;
    height: 42px;
    width: 47px;
    background-color: #f47b60;
    border: 1px solid #d75f48;
    transition: background-color 0.5s ease-in-out;
}
.social-profiles__contaner-item:hover{
    background-color: #d75f48;
    cursor: pointer;
}
.social-profiles__img {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid #d7d7d7;
    width: 406px;
}
.sidebar__items {
    padding: 40px;
    background-color: #fefefe;

}
.sidebar__info {
}
.sidebar__title {
}
.sidebar-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}
.sidebar_description {
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    color: #aeaeae;
    margin: 20px 0;
}
.sidebar__text {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: #959595;
    margin-bottom: 40px;
    line-height: 24pt;
}
.sidebar__feedback {

}
.sidebar__forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}
.sidebar__forms-email {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    border: none;
    outline: none;
    vertical-align: middle;
}
.sidebar__forms-submit {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 60px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}
.sidebar__form-description {
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    line-height: 18pt;
    padding-top: 17px;
    padding-bottom: 30px;
}
.sidebar__info-list {
    margin-bottom: 50px;
}
.sidebar__list-items {
}
.sidebar__list-item {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    line-height: 20pt;
    list-style-type: none; 
}
.sidebar__list-item::before{
    content: '\1F782';
}
.sidebar__item-date {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    line-height: 20pt;
    color: #7e7e7e;
}
.sidebar__tags-list {
    margin-top: 20px;
}
.tag {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 0 20px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin: 2px;
}
.news {
}
.news__container {
}
.news__cover {
}
.news__image {
}
.news__facebook {
}
.social-btn {
}
.news__twitter {
}
.news__article {
}
.news__article-title {
}
.news__article-date {
}
.news__linkto {
}
.news__text {
}
.news-short {
}
.news-short__container {
}
.news-short__cover {
}
.news-short__image {
}
.news-short__article {
}
.news-short__article-title {
}
.news-short__article-date {
}
.news-short__linkto {
}
.news-short__text {
}
.footer {
}
.footer__wrapper {
}
.footer__descr {
}
.footer__social-btns {
}
.footer__facebook {
}
.footer__twitter {
}
.footer__ads {
}
.footer__copyright {
}
.footer__form {
}
.footer__input-email {
}
.footer__submit {
}